<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"      
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header id="home-section">      
        <div class="home-inner container">
          <div class="row">         
              <div class="col text-center py-4">               
                <button class="button button2 " onclick="location.href='/register'" type="button">Signup</button>
                <button class="button button2" onclick="location.href='/login'" type="button">Login</button>                
              </div>            
          </div>
        </div>      
    </header>
  </body>